@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;700&display=swap');

:root {
    --background-colour: #002b36;
    --text-colour: #cfd8dc;
    --left-colour: #ffffff14;
    --h1-colour: #f5f5f5;
    --label-colour: #b0bec5;
    --border-colour: #607d8b;
    --input-colour: #eceff1;
    --hover-colour: #ffffff0d;
    --note-colour :#90a4ae;
    --right-background: #001f28; 

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--background-colour);
    color: var(--text-colour);
    font-family: 'IBM Plex Mono', monospace;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

body::before {
    content: "";
    position: fixed;
    inset: 0;
    background-image: radial-gradient(#ffffff08 1px, transparent 1px);
    background-size: 4px 4px;
    opacity: .15;
    pointer-events: none;
}

.container {
    display: flex;
    min-height: 100vh;
}

.left-panel{
    flex: 0.9;
    padding: 80px;
}

.right-panel {
    flex: 1.1;
    padding: 80px;
}

.left-panel {
    border-right: 1px solid var(--left-colour);
}

.left-panel h1 {
    font-size: 3rem;
    font-weight: 700;
    color: var(--h1-colour);
    margin-bottom: 50px;
}

form {
    max-width: 500px;
}

label {
    display: block;
    margin-bottom: 8px;
    color: var(--label-colour);
}

input {
    width: 100%;
    padding: 14px;
    margin-bottom: 24px;

    background: transparent;
    border: 1px solid var(--border-colour);
    color: var(--input-colour);

    font-family: inherit;
    font-size: 1rem;
}

input:focus {
    outline: none;
    border-color: var(--border-colour);
}

button {
    width: 100%;
    padding: 14px;
    background: transparent;
    border: 2px solid var(--text-colour);
    color: var(--text-colour);
    cursor: pointer;
    font-family: inherit;
    font-size: 1rem;
    font-weight: 700;
    transition: .2s;
}

button:hover {
    background: var(--hover-colour);
}

.right-panel {
    background: var(--right-background);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.right-panel h2 {
    font-size: 2.8rem;
    font-weight: 700;
    color: #f5f5f5;
    margin-bottom: 40px;
}

.right-panel h3 {
    font-size: 1.5rem;
    margin-top: 35px;
    margin-bottom: 15px;
    color: var(--h1-colour);
}

.right-panel p {
    line-height: 1.9;
    font-size: 1.1rem;
    margin-bottom: 25px;
}

.right-panel ul {
    margin-left: 25px;
}

.right-panel li {
    margin-bottom: 12px;
    line-height: 1.8;
}

.note {
    margin-top: 35px;
    padding-top: 20px;
    border-top: 1px solid var(--border-colour);
    font-size: 0.95rem;
    color: var(--note-colour);
}

.terminal-title::after {
    content: "_";
    display: inline-block;
    margin-left: 4px;
    animation: blink 1s infinite;
}

@keyframes blink {
    0%, 50% {
        opacity: 1;
    }

    51%, 100% {
        opacity: 0;
    }
}

.right-panel .content {
    max-width: 750px;
}

input::placeholder {
    color: var(--input-colour);
}

input:hover, input:focus {
    box-shadow: 0 0 10px var(--border-colour);
}

.terminal-subtitle {
    color: var(--note-colour);
    margin-bottom: 50px;
    letter-spacing: 1px;
}